@import "tailwindcss";

:root {
  background: #191115;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #191115;
}

button,
input,
textarea,
select {
  font: inherit;
}
